# -*- coding: utf-8 -*-
#   File Name：     {{file_name}}
#   Author :        lumi
#   date：          {{date_time}}
#   Description :

# - import odoo package
from odoo import api, fields, models, _

# - Third party module of python
import logging

# - Custom package

_logger = logging.getLogger(__name__)

